<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="/static/css/main.css" th:href="@{/css/main.css}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600&family=Space+Grotesk:wght@300;400;500;600&display=swap"
          rel="stylesheet"
  />
  <title>Gateway</title>
  <script type = "text/javascript" th:src="@{js/main.js}"></script>
</head>
<body onload="setup();setAccountValues();">
<nav id="header">
  <img th:src="@{assets/gateway-white-no-background.svg}" alt="logo" height="150%" />
  <a href="/overview" class="navbar-item hover-underline-animation"
  >Overview</a
  >
  <a href="/generator" class="navbar-item hover-underline-animation"
  >Generator</a
  >
  <a href="/account" class="navbar-item hover-underline-animation"
  >Account</a
  >
  <form action="">
    <div class="search">
      <input
              class="search-bar"
              type="text"
              placeholder="Search Credential"
      />
      <svg
              aria-hidden="true"
              class="icon-search"
              width="18"
              height="18"
              viewBox="0 0 18 18"
      >
        <path
                d="m18 16.5-5.14-5.18h-.35a7 7 0 1 0-1.19 1.19v.35L16.5 18l1.5-1.5ZM12 7A5 5 0 1 1 2 7a5 5 0 0 1 10 0Z"
        ></path>
      </svg>
    </div>
    <!-- <input type="submit" value="" class="button" /> -->
  </form>
</nav>
<div id="content" class="flexbox grid-content">
  <main id="center-panel" class="box">
    <div class="center-panel-header aside-title">
      <h1 class="main-title">Account</h1>
    </div>
    <form onsubmit="accountSubmit(this.submitted);return false;" id="accountForm" class="credential-form">
      <div class="generator-options">
        <div>
          <label for="account-email">Email:</label>
          <input class="text-input" type="text" name="email" id="account-email" />
        </div>
        <div>
          <label for="account-password">Password:</label>
          <input class="text-input" type="text" name="password" id="account-password" />
        </div>
        <div>
          <label for="account-firstname">Firstname:</label>
          <input class="text-input" type="text" name="firstname" id="account-firstname" />
        </div>
        <div>
          <label for="account-lastname">Lastname:</label>
          <input class="text-input" type="text" name="lastname" id="account-lastname" />
        </div>
        <div id="length-slider">
          <output>Certifications Duration: 60</output>
          <input type="range" name="passwordDuration" id="account-password-length" class="slider" value="60" min="1" max="360" oninput="this.previousElementSibling.value = 'Certifications Duration: '+this.value" />

        </div>
        <div>
          <input
                  type="checkbox"
                  name="certifications-expire"
                  id="certifications-expire"
          />
          <label for="certifications-expire">Certifications Expire</label>
        </div>
      </div>
      <div class="account-buttons">
        <input
                type="submit"
                value="Delete"
                onclick="this.form.submitted=this.value"
                id="delete-account-button"
                class="button inverted-button"
        />
        <input
                type="submit"
                value="Save"
                onclick="this.form.submitted=this.value"
                id="save-button"
                class="button accent-button"
        />
      </div>
    </form>
  </main>
</div>
<footer>
  <div id="footer">
    <p class="footer-title">Gateway</p>
    <p class="flex-column-right">Copyright 2023©</p>
  </div>
</footer>
<script>
  async function accountSubmit(submit) {
    if (submit === "Save")
      await saveAccount()
    else if (submit === "Delete")
      await deleteAccount()
  }
  // TODO: Encryption and Decription in javascript & Kotlin
  async function saveAccount() {
    const formData = new FormData(accountForm);

    console.log(Object.fromEntries(formData.entries()))

    const user = await getAccount()

    for ([key, value] of formData.entries())
      user[key] = value

    const response = await fetch("http://localhost:8080/api/users/", {
      method: "PATCH",
      headers: {
        Accept: "application/json",
        'Content-Type': "application/json"
      },
      body: JSON.stringify(user)
    });
    const data = await response.json();
    console.log(data)
  }
  async function deleteAccount() {
    const user = await getAccount()

    user["isDeleted"] = true

    const response = await fetch("http://localhost:8080/api/users/", {
      method: "PATCH",
      headers: {
        Accept: "application/json",
        'Content-Type': "application/json"
      },
      body: JSON.stringify(user)
    });
    const data = await response.json();
    console.log(data)
  }
  async function setAccountValues() {
    const user = await getAccount()
    const values = [
      'email',
      'password',
      'firstname',
      'lastname',
    ]

    for (const value of values){
      document.getElementById('account-'+value).value = user[value]
    }
  }
</script>
</body>
</html>
